<% for(var i = 0; i<employees.length; i++) { %>
<tr>
    <td><%= i + 1 %></td>
    <td><%= employees[i].name %></td>
    <td><%= employees[i].phone %></td>
    <td><%= employees[i].email %></td>
    <td><%= employees[i].gender %></td>
    <td><%= employees[i].status %></td>
    <td>
        <a href="/update-employee?id=<%= employees[i]._id %>" class="btn border-shadow update">
            <span class="text-gradient"><i class="fas fa-pencil-alt"></i></span>
        </a>
        <a class="btn border-shadow delete" data-id=<%= employees[i]._id %> >
            <span class="text-gradient"><i class="fas fa-times"></i></span>
        </a>
    </td>
</tr>
<% } %>